{{! login }}
<div class="login-container">
  <div class="login-control">
    <h2>Login</h2>
  </div>
  <form class="form login-form">
    <div class="form-group">
      <label for="email-login">Email</label>
      <input class="form-input" type="email" id="email-login" maxlength="50" />
    </div>
    <div class="form-group">
      <label for="password-login">Password</label>
      <input
        class="form-input"
        type="password"
        id="password-login"
        maxlength="20"
        minlength="5"
      />
    </div>
    <div class="form-group">
      <button type="submit">login!</button>
    </div>
    <a class="show-form" href="#">signup instead</a>
  </form>
</div>

{{! signup }}
<div class="no-show-signup">
  <div class="login-container">
    <div class="login-control">
      <h2>Signup</h2>
    </div>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" maxlength="20" minlength="5" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="email" id="email-signup" maxlength="50" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" maxlength="20" minlength="5"/>
      </div>
      <div class="form-group">
        <button type="submit">signup!</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>