{{!-- {{!< layouts}} --}}
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
<div class="post-container">
  <div class="post">
    <h3>Create a New Project:</h3>
  </div>
  <form class="form new-project-form">
    <div class="form-group">
      <label for="project-name">Title</label>
      <input
        class="form-input"
        type="text"
        id="project-name"
        name="project-name"
      />
    </div>
    <div class="form-group">
      <label for="project-desc">Content</label>
      <textarea
        class="form-input"
        id="project-desc"
        name="project-desc"
      ></textarea>
    </div>
    <div class="form-group">
      <button type="submit">Create</button>
    </div>
  </form>
</div>
<!-- Loop over each object in the projects array -->
{{#each posts as |post|}}
{{> posts}}
{{/each}}
<script src="./js/createpost.js"></script>