:root {
  --primary-color: #d9ead3;
  --secondary-color: #231010;
}
/* body */
body {
  background-color: var(--primary-color);
  height: 100%;
}
/* typography */
a {
  text-decoration: none;
}

/* header */
header {
  background-color: var(--secondary-color);
}

/* nav */
.nav-control {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  width: 20rem;
}
nav a {
  color: var(--primary-color);
}
.title a {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 6px 6px 0px -0px rgba(161, 161, 161, 1);
  font-weight: bold;
  padding: 0.5rem;
}

/* posts and login */
.homepage-post,
.post,
.login-control {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: #9f9ea0;
  padding-left: 1rem;
  padding-right: 1rem;
}
.login-control {
  color: var(--primary-color);
}
.post-container p {
  color: var(--secondary-color);
  padding-left: 1rem;
}
.post-container,
.login-container {
  border: 4px solid var(--secondary-color);
  margin-top: 1rem;
}
.homepage-post:hover {
  color: var(--primary-color);
}

/* form */
.form-group {
  display: flex;
  flex-direction: column;
}
form {
  padding: 1rem;
}
form input {
  width: 100%;
}
form button {
  margin-top: 1rem;
  color: #E3E1F1;
  background-color: #666666;
}
/* signup */
.no-show-signup{
    display: none;
}
.black-bar{
    background-color: var(--secondary-color);
    height: 2rem;
    margin-bottom: 2rem;
}
/* footer */
footer {
   width: 100%;
   padding: 2rem;
   bottom: 0;
  display: flex;
  justify-content: center;
}
